<!DOCTYPE html>
<html>

<head>
    <title>🍔 Food Ordering System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🍔 Food Ordering System</h1>

    <div class="card">

        <h2>🔐 Login</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="📧 Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="🔐 Enter Password"
                required
            >

            <button type="submit">
                Login 🚀
            </button>

        </form>

    </div>

</div>

</body>
</html>